.main {
    padding: 1rem;
}

.main .mainContainerCards {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.mainContainerControle {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.mainContainerControle button {
    background-color: transparent;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
}

.mainContainerControle button:hover {
    color: var(--secondary);
}

.mainContainerControle button svg {
    color: var(--secondary);
    font-size: clamp(1rem, 2vw, 1.25rem);
}


.mainOrdenacao,
.mainGerenciadores {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    width: 100%;
}

.mainGerenciadores button[data-selected=true] {
    color: var(--secondary);
}

.mainOrdenacao .mainOrdenacaoArrows {
    display: flex;
    align-items: center;
    height: 100%;
}

.mainOrdenacao .mainOrdenacaoArrows svg {
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    color: var(--dark-gray)
}

.mainOrdenacao .mainOrdenacaoArrows svg {
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    color: var(--dark-gray)
}

.mainNotFound {
    text-align: center;
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: var(--gray_op);
}

@media (min-width: 720px) {
    .main .mainContainerCards {
        justify-content: flex-start;
    }

    .mainContainerControle {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .mainOrdenacao {
        justify-content: start;
    }

    .mainGerenciadores {
        justify-content: end;
    }
}

@media (prefers-color-scheme: light) {
    .mainContainerControle button svg {
        color: var(--primary);
    }

    .mainContainerControle button:hover {
        color: var(--primary);
    }

    .mainGerenciadores button[data-selected=true] {
        color: var(--primary);
    }

    .mainNotFound {
        color: var(--dark-gray)
    }
}

[data-theme=light] .mainContainerControle button svg {
    color: var(--primary);
}

[data-theme=light] .mainContainerControle button:hover {
    color: var(--primary);
}

[data-theme=light] .mainGerenciadores button[data-selected=true] {
    color: var(--primary);
}

[data-theme=light] .mainNotFound {
    color: var(--dark-gray)
}

[data-theme=light] .mainGerenciadores span,
[data-theme=light] .mainOrdenacao span {
    color: var(--black)
}

[data-theme=light] .mainGerenciadores:hover span,
[data-theme=light] .mainOrdenacao:hover span {
    color: var(--primary)
}