.header {}

.header .headerContainer {
    background-image: linear-gradient(var(--primary_op), var(--primary_op)),
        url('./header-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    min-height: 300px;
    display: flex;
    
    align-items: center;
}

@media (min-width: 720px) {
    .header .headerContainer {
        height: clamp(300px, 3vh, 500px);
    }
}