.headerDetalhes {
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.headerDetalhesTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--white);
}

.headerDetalhesLink {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--white);
    font-size: clamp(1.5rem, 1.25vw, 1.5rem);
}

.headerDetalhesLink:hover {
    opacity: 0.75;
}


[data-theme=light] .headerDetalhes {
    background-color: var(--gray);
}

[data-theme=light] .headerDetalhesLink,
[data-theme=light] .headerDetalhesTitle {
    color: var(--black);
}