:root {
  --primary: #0E59AC;
  --secondary: #FD9B63;
  --white: #F1F1F1;
  --black: #2a2a2a;
  --dark-gray: #5A5555;
  --gray: #EDEBEB;
  --primary_op: #0E59AC4d;
  --secondary_op: #FD9B634d;
  --white_op: #F1F1F14d;
  --black_op: #2a2a2a4d;
  --dark-gray_op: #5A55554d;
  --gray_op: #EDEBEB4d;
  --danger: #730d0d;
  --danger_op: #730d0d4d;

  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark; 
   color: var(--white);
  background-color: var(--black);
}

:root [data-theme=dark] {

}

button {
  border: none;
  background-color: none;
}


:root [data-theme=light] {
  color: var(--black);
  background-color: var(--gray);
}